/* Style for all properties of the Header */
.hdr-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: goldenrod;
}

.avatar {
  background-color: transparent;
}

h2 {
  margin: 10px;
  color: white;
}

h2 span {
  font-weight: normal;
}

/* Changes for Desktop Display */
@media only screen and (min-width: 1024px) {
  .hdr-body {
    display: flex;
    flex-direction: row;
    padding: 60px;
    align-items: flex-start;
  }
  .hdr-profile {
    width: 35%;
  }
  .container {
    width: 55%;
    margin-left: 130px;
    margin-top: 0;
  }
}