/* Style for the general layout of the WebApp */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  position: sticky;
  top: 0%;
  width: 100%;
  font-family: Bungee, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #545149;
  background-color: #f4f1ec;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 90%;
  background-color: #f4f1ec;
 }